@{
    ViewData["Title"] = "Home Page";

}
<button class="btn-dark" onclick="loadData()">Read data</button>
<button onclick="loadDataFRX()">Load data frx</button>
<button onclick="SaveReport()">Save frx to db</button>
<button onclick="WriteFileFRX()">load data report from DB</button>
<input type="text" placeholder="Nhập id" id="id" required>
<script src="~/js/jquery.js"></script>
<script src="~/js/custom.js"></script>