@{
    ViewData["Title"] = "Report từ cơ sở dữ liệu";
}
<div class="row mt-2">
    @await ViewBag.WebReport.Render()
</div>
<hr />
<div class="row">
    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal" onclick="loadContenReport();">Sửa XML</button><br /><br />
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <textarea style="height:800px; width:1100px" id="content"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="Update();">Sửa</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/eidtxml.js"></script>
